{{#each products}}
    <div class="col-md-4 img" data-toggle="modal" data-target="#item">
      <img src={{image}} id={{_id}} height="160" width="80">
      <h5> {{name}}</h5>
      <p> ${{price}}</p>
    </div>
{{/each}}
