<div class="single-product">
  <img src={{product.image}} height="160" width="80">
  <p class="price">Price: ${{product.price}} </p>
  <p class="name">Name: {{product.name}} </p>
  <p>Description: {{product.description}} <p>
</div>
