$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body{
  margin: 10px auto;
  max-width: 70%;
}

.col-md-4{
  text-align: center;
  height: 260px;
  // border: 1px solid black;
  padding-top: 20px;
}


////////////////////////////////////

table {
  width: 100%;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 3px;
    text-align: left;
}

th {
    height: 10px;
}

tr:nth-child(even) {background-color: #f2f2f2}
